/* Common Styles */
*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-decoration: none
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.text-primary{
    color: rgb(253, 110, 10);
}
.btn-primary{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
/* Nav Related Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 20px;
}
.nav-title{
font-size: 45px;
font-weight: 800;
line-height: 61px;
text-align: left;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0;
    color: #474747;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    font-weight: 300;
    color: #474747;
    margin-bottom: 20px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.section-title{
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}
.section-description{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-inf{
    text-align: center;
}

/* What I Do Description related styles */
#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}
.skill-description{
    color: rgb(117, 117, 117);
}

/* Resume Section Styles */
.resume-column-title{
    color: rgb(71, 71, 71);
    font-weight: 700;
    line-height: 41px;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.resume-item-title{
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
}
.resume-item-institute{
font-size: 20px;
font-weight: 600;
line-height: 27px;
}
.resume-item-description{
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
.resume-item-institute, .resume-item-description{
    padding: 10px 0;
    color: #757575;
}
.resume-column-title hr{
    margin: 20px 0;
}

.download-cv{
    margin-top: 50px;
    text-align: center;
}

/* footer styles */

footer{
    display: flex;
    gap: 100px;
    background: #fff8f3;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-column{
    width: 50%;
}