/* Common Styles */
*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.text-primary{
    color: rgb(253, 110, 10);
}
.btn-primary{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
/* Nav Related Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 20px;
}
.nav-title{
font-size: 45px;
font-weight: 800;
line-height: 61px;
text-align: left;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header{
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0;
    color: #474747;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    font-weight: 300;
    color: #474747;
    margin-bottom: 20px;
}

/* main section styles */
.section-title{
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}
.section-description{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px auto;
}